html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header{
	background-color: #00ffff;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: black;
}

header img{
 	border-radius: 253px;
 	width: 1000px;
 	border: 21px solid #0d0d0d;
}

.content{
	max-width: 5000px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 60px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: purple;
	text-decoration: none;
}


footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #a6a6a6;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}
h2{
	font-size: 75px;
}
p{
	font-size: 35px;
}
li{
	font-size: 35px;
}


