body{
	background-color: lightgrey;
}

h1{
color: orange;
font-size: 90px;
text-decoration: underline;
}

#first{
font-size: 150px;
}
.smoll{
font-size: 12px;
}

h2 {
font-size: 22px;
color: red;
}

span{
font-style: italic;
}

h2 span{
text-decoration: line-through;
}	